/* font-szie */
$h1_font_size:20px;
$h2_font_size:16px;
$h3_font_size:14px;
$h4_font_size:12px;

/* margin padding size */
$small_distance_size:10px;
$normal_distance_size:20px;
$large_distance_size:40px;